.cardsParent{
  display: flex;
  width: 100%;
  overflow: scroll;
  flex-flow: wrap;
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

.cardStyle {
  box-shadow: -10px 10px 12px -1px rgba(0,0,0,0.59);
  background-color: white;
  padding: 7px;
  margin: 15px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.imageBox {
  height: 300px;
  overflow: hidden;
  line-height: 300px;
}

.cardStyle:hover {
  transform: translate(-1%, -1%) scale(1.1);
}

.cardImage {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  height: auto;
  max-height: 300px;
}

.cardName {
  width: 90%;
  overflow: hidden;
  display: block;
  margin: 5px 0;
}

.sortTitleContainer{
  margin: 2% 0px;
}

.sortTitle{
  font-size: 40px;
  font-style: italic;
}

.sortBtn,
.aboutBtn{
  border: none;
  margin: 0px 20px;
  padding: 10px 50px;
  border-radius: 10px;
  border: 1px solid #ff01bf;
  color: #ff01bf;
  font-style: italic;
}
.sortBtn:hover {
  background-color: #ff01bf;
  color: white;
  border: 1px solid white;
  font-weight: bold;
}

.aboutBtn:hover {
  background-color: #ff01bf;
  color: white;
  border: 1px solid white;

}

.btnContainer{
  display: inline-block;
  width: 70%;
}

.linkContainer{
  display: inline-block;
  width: 30%;
  border-right: 1px solid black;
}