.navBarMainContainer{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navBarLogin{
  padding-left: 20px;
}

.navBarLogo{

}

.navBarUserProfileArea{
  padding-right: 20px;
}