.navBarMainContainer{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navBarLogin{
  padding-left: 20px;
  font-size: 60px;
}

.navBarLogo{

}

.navBarUserProfileArea{
  padding-right: 20px;
}

.navBarUserImage{
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  box-sizing: border-box;
  border: 3px solid silver;
  border-radius: 50%;
}

.logBtn{

}