.navBarMainContainer{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navBarLogin{
  padding-left: 20px;
  font-size: 60px;
}

.navBarLogo{

}

.navBarUserProfileArea{
  padding-right: 20px;
}

.navBarUserImage{
  max-width: 150px;
  max-height: 150px;
}

.logBtn{

}