.pageContainer{
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.navBarContainer{
  min-height: 15%;
  background-image: linear-gradient(to right, #ff01bf, #ff01bf, #ff01bf, #880088);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.bodyContainer{
  min-height: 80%;
  background: gradient (rgba(218, 218, 218, 0.509), white);

  /* box-shadow: 5px 3px 30px black; */
  overflow: hidden;

}

.paginaterContainer{
  min-height: 2%;
  align-self: center;
  margin-top: 2%;

}


.bodyContainer::before {

  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}