.overlay {
  position: fixed;
  top: 0px;
  background-color: rgba(0,0,0,0.7);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  z-index: 100;
}

.cardDetail {
  width: 800px;
  height: 450px;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.closeBtn{
  font-size: 30px;
  text-align: right;
  color: red;
  padding-right: 10px;
 }

.formContainer{
  margin-top: 3%;
}

.formContainerMain{
  text-align-last: center;
}

 .cardImage {
  height: 230px;
  width: 220px;
 }

 .input{
  margin: 12px 0px;
 }

 .submitBtn{
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 10px;
 }

 .closeContainer{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
 }

 .accountOptions{
  display: flex;
  flex-direction: column;
 }

 .accountText{
  font-weight: bold;
  font-style: italic;
 }