.header {
  border: .5px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  width: 100%;
  top: 0;
  background-image: linear-gradient(to right, #ff01bf, #ff01bf, #ff01bf, #880088);
}

.link {
  border: none;
  margin: 0px 20px;
  padding: 15px 30px;
  
  display: flex;
  box-sizing: border-box; 
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100px;
  height: 45px;
  border-radius: 7px;
  border: 2px solid #FF01BF;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}
.link:hover {
  background-color: #FF01BF;
  transform: scale(1.05);
  transition: .3s;
  text-decoration: underline;
}

.container {
  box-shadow: -10px 10px 12px -1px rgba(0,0,0,0.59);
  background-color: white;
  padding: 7px;
  margin: 15px auto;
  width: 60%;
}

.image {
  width:80%;
}

.marginTop {
  margin-top: 10px;
}