.modalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 25px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.outerButtonWrapper {
    
    box-sizing: border-box; 
    width: 200px;
    height: 45px;
}

.innerButtonWrapper {
    
}

.modalButtonLabel {

    box-sizing: border-box; 
    width: 100%;
    max-width: 185px;
    height: 45px;
    padding-top: 8px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;

    cursor: pointer;
}

.addItemButton {

    box-sizing: border-box; 
    width: 100%;
    height: 45px;
}

.innerModalWrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    z-index: 100;
}

.modalInnerContainer {

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20%;
}

.modalContentContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 400px;

    background-color: ghostwhite;
    border: 2px solid black;
    border-radius: 25px;
    z-index: 110;
}

.modalCloseButton {
    width: 75px;
    height: 25px;

    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 25px;
}

