.addItemFormContainer {

    width: 95%;
    height: 95%;

    border: 2px solid black;
    border-radius: 25px;

}

.addImageInputField {

    
}

.addImageFormButton {


}

.addNameInputField {


}

.addCategoryInputField {


}

.addValueInputField {


}

.addZipInputField {


}

.addConditionInputField {


}

.addDescriptionInputField {


}

.addItemSubmitButton {


}