.addItemFormWrapper {

    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99%;

    margin-left: .5%;

    border: 2px solid black;
    border-radius: 25px;

}

.addedItemImageWrapper {

    float: left;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 49%;
    height: 95%;

    margin-right: .5%;

    border: 2px solid black;
    border-radius: 25px;
    background-color: lightcoral;
}

.addedItemImage {
    box-sizing: border-box;

    width: 85%;
    height: 85%;

    border: 2px solid black;
    background-color: lawngreen;
}

.inputFieldWrapper {

    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 49%;
    height: 95%;

    border: 2px solid black;
    border-radius: 25px;
    background-color: lightseagreen;
}

.addImageInputField {

    box-sizing: border-box;
    margin: 5px 5px;
}

.addImageFormButton {

    box-sizing: border-box;
    margin: 5px 5px;
}

.addNameInputField {

    box-sizing: border-box;

    width: 80%;
    margin: 5px 5px;
}

.addCategoryInputField {

    box-sizing: border-box;

    width: 80%;
    margin: 5px 5px;
}

.addValueInputField {

    box-sizing: border-box;

    width: 40%;
    margin: 5px 5px;
}

.addZipInputField {

    box-sizing: border-box;

    width: 40%;
    margin: 5px 5px;
}

.addConditionInputField {

    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;

    margin: 5px 5px;

    border: 1px solid silver;
    color: white;
    background: rgb(142,140,175);
    background: linear-gradient(90deg, rgba(142,140,175,1) 0%, rgba(193,193,204,1) 74%);

}

.conditionOptions {

    display: inline-flex;
    justify-content: center;

    border: 1px solid red;
}

.addDescriptionInputField {

    box-sizing: border-box;

    width: 80%;
    margin: 5px 5px;
}

.addItemSubmitButton {

    box-sizing: border-box;
    margin: 5px 5px;
}