body {
  text-align: center;
  display: flex;
  justify-content: center;

  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  
}

.charityMainAppContainer {

  display: flex;
  justify-content: center;

  max-width: 1300px;
  margin: auto;
}

@keyframes bgcolor {
  0% {
    
    background-color: #fef5fe;
  }

  30% {

    background-color: #def9fb;
  }

  60% {

    background-color:  #f7e7fb;
  }

  90% {

    background-color:  #dcf9fb;
  }

  100% {

    background-color: #faecfd;
  }
}

