body {
  text-align: center;
}

.charityMainAppContainer {

<<<<<<< HEAD
=======
.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
>>>>>>> Implementing login fucnctionality, break to help
  display: flex;
  justify-content: center;

  max-width: 1300px;
  margin: auto;
}
