.charityHeaderWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 97%;
    height: 99%;
    min-height: 180px;
    max-height: 220px;
    margin: 3px auto;
    border: 2px solid #FF01BF;
    color: black;
    border-radius: 7px;
    overflow: auto;
}

.outterHeaderWrapper {

    height: 100%;
}

.achievementWrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(7px, auto);
    grid-template-areas: 
        ". . d d d d d d d . ."
        "i i d d d d d d d v v"
        "i i d d d d d d d v v"
        ". . d d d d d d d . .";
    max-width: 250px;
    max-height: 50px;
    margin: 1.175%;
}

.achievement {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    min-width: 250px;
    height: 50px;
    border-radius: 7px;
    margin: 1.5%;
    background: rgb(255,170,255);
    background: radial-gradient(circle, rgba(255,170,255,1) 0%, rgba(255,0,191,0.196516106442577) 100%);
}

.achievementImageWrapper {
    grid-area: i;
    justify-content: space-evenly;
    margin-left: 1px;
    padding-left: 3px;
}

.achievementImage {
    left: 2px;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 2px solid #FF01BF;
    background-color: whitesmoke;
    color: black;
    border-radius: 7px;
}

.achievementInfoWrapper {
    grid-area: d;
    width: 75%;
    height: 50px;
}

.achievementName {
    display: inline-flex;
    box-sizing: border-box;
    margin-bottom: 3px;
    font-size: 10px;
}

.achievementDescription {
    box-sizing: border-box;
    height: 40%;
    margin-bottom: 0;
    font-size: 8px;
}

.achievementValueContainer {
    grid-area: v;
    box-sizing: border-box;
    width: 35px;
    min-width: 35px;
    height: 35px;
    margin-right: 1px;
    padding-top: 2px;
    color: black;
    border-radius: 7px;
}

.achievementValue {
    font-size: 20px;
    color: #880088;
}

