.charityHeaderWrapper {

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    width: 97%;
    height: 95%;
    min-height: 180px;
    max-height: 230px;

    margin: 3px auto;
    border: 2px solid black;
    border-radius: 25px;

    overflow: auto;

}

.achievementContainer {

    width: 100%;
    height: 100%;
    margin-top: 5px;
}

.achievementWrapper {

    display: flex;
    align-items: center;

    max-width: 200px;

    margin: 1%;
}

.achievement {

    display: flex;
    width: 200px;
    min-width: 200px;
    height: 50px;

    border: 2px solid black;
    border-radius: 25px;

    margin: 1.5%;
}

.achievementImage {

    background-color: gold;
    width: 25px;
    height: 25px;

    border: 2px solid black;
    border-radius: 10px;

}

.achievementName {

    background-color: green;
    
    font-size: 10px;
}

.achievementDescription {

    background-color: hotpink;

    font-size: 10px;
}

.achievementValue {

    background-color: indigo;

    font-size: 12px;
}

