.listRowHeaders {
    font-size: 9px;
    font-weight: bold;
}

.listRowWrap {
    font-size: 9px;
    font-weight: bold;
    text-align: left;
}
.listItemRow {
    border-bottom: 1px;
    border-style: solid;
    border-radius: 7px;  
    padding: 3mm;
}
.colHeader {
    margin: 2mm;
    padding-top: 3mm;
}
.rowItem {
    word-wrap: break-word;
    margin: 2mm;
    height: 40px;
}
.rowItemName {
    word-wrap: break-word;
    width: 10px;
    margin: 2mm;
    height: 40px;
}
.listSelector {
    font-size: 13px;
    border-radius: 2px;
    float: right;
    margin-top: 3px;
    padding: 1mm;
    border-width: 2px;
    font-weight: bolder;
    background: beige;
}

.listTitle {
    font-weight: bolder;
    font-size: 22px;
    border-radius: 7px;
}

table {
    border-spacing: 1 rem;
    width: fit-content;
}
tr {
    font-size: 10px;
    text-align: center;
    width: fit-content;
    font-style: italic;
    word-wrap: break-word;
    border-bottom: medium;
    border-width: .5px;
    padding: 5mm;
}
td {
    padding: 2px;
    background-color: rgb(227, 246, 244);}
th {
    font-size: medium;
    font-weight: bolder;
    padding: 2px;
    background-color: rgb(227, 246, 244);}

.tableWrap {
    height: 258px;
    overflow: hidden scroll;    
}

.listWrap {
    height: 371px;
}
.listWrapHeader {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px

}
.pickupTable {
    width: 286px;
}

.totals {
    font-size: large;

}
.totalPickup {
    font-size: 20;
    font-weight: bolder;
    border: 1px solid antiquewhite;
    background-color: rgb(227, 246, 244);
    border-radius: 1px;
    width: 270px;
    margin-left: 5mm;
}

.deleteButton {
    border-radius: 1px;
    background: darkgray;

}