.listRowHeaders {
    font-size: 9px;
    font-weight: bold;
}

.listRowWrap {
    font-size: 9px;
    font-weight: bold;
    text-align: left;
}
.listItemRow {
    border-bottom: 1px;
    border-style: solid;
    border-radius: 7px;  
    border-color: #ff01bf;
    padding: 3mm;
}
.colHeader {
    margin: 2mm;
    padding-top: 3mm;
}
.rowItem {
    word-wrap: break-word;
    margin: 2mm;
    height: 40px;
}
.rowItemName {
    word-wrap: break-word;
    width: 10px;
    margin: 2mm;
    height: 40px;
}
.listSelector {
    font-size: 13px;
    border-radius: 2px;
    float: right;
    margin-top: 3px;
    padding: 1mm;
    border-width: 2px;
    font-weight: bolder;
    border-color: #ff01bf;
}

.listTitle {
    font-weight: bolder;
    color: #ff01bf;;
    font-size: 22px;
    font: impact;
}

table {
    border-spacing: 1 rem;
    width: fit-content;
    border-color: #ff01bf;
    font: impact;
}
tr {
    font-size: 10px;
    text-align: center;
    width: fit-content;
    font-style: italic;
    border-bottom: medium;
    border-width: .5px;
    padding: 5mm;
    border-color: #ff01bf;


}
td {
    padding: 2px;
}
th {
    font-size: medium;
    padding: 7px;
    padding-right: 4mm;
    background-color: #ff01bf;
    color: white;
}

.tableWrap {
    max-height: 342px;
    min-height: 200px;
    overflow: hidden scroll;    
}

.listWrap {
    height: 411px;
}
.listWrapHeader {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px

}
.pickupTable {
    width: 286px;
}

.totals {
    font-size: large;

}
.totalPickup {
    font-size: 20;
    font-weight: bolder;
    border: 1px solid antiquewhite;
    border-radius: 1px;
    width: 270px;
    margin-left: 6mm;
    color: white;
    background-color: #ff01bf;
    border-color: #ff01bf;
}

.deleteButton {
    border-style: solid;
    color: white;
    border-color: #ff01bf;
    background: transparent;
    background-color: #ff01bf;
    
}