.updatePassFormWrapper {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    margin-left: .5%;
    border: 2px solid #880088;
    border-radius: 7px;
    background-color: whitesmoke;
    color: black;
}

.updatePassFieldWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.updatePassInputField {
    box-sizing: border-box;
    text-align: center;
    width: 80%;
    margin: 5px 5px;
    border: 2px solid #880088;
    background-color: whitesmoke;
    color: black;
    border-radius: 7px;
}


.passUpdateCancelButton {
    float: left;
    box-sizing: border-box;
    margin: 5px 5px;
    border: 2px solid #880088;
    border-radius: 7px;
    background-color: whitesmoke;
    color: black;
}

.passUpdateSubmitButton {
    float: right;
    box-sizing: border-box;
    margin: 5px 5px;
    border: 2px solid #880088;
    border-radius: 7px;
    background-color: whitesmoke;
    color: black;
}